body{
  padding: 10px;
  background-color: rgba(250, 235, 215, 0.385);
}
.click{
  cursor: pointer;
}
.click:hover{
  scale: 2;
}
.flex{
display: flex;
justify-content: space-between;
height: 350px;
width: 80vw;
z-index: -2;
margin: auto;
margin-bottom: 100px;

}
.card{
  height: 380px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 0.5 solid gray;
  box-shadow: 3px 3px 3px rgb(169, 160, 160);
  background-color: white;
  border-radius: 12px;

}
.cardimage{
  width: 250px;
  height: 150px;

}
.btn{
  width: 100px;
  height: 25px;
}
